<%= form_with(model: url, local: true, class: "input-group") do |form| %>
  <% if url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label (:long_url) %>
    <%= form.text_field :url, id: :url_url, class: 'form-control', placeholder: "Past Url here" %>
  </div>

  <div class="actions">
    <%= form.submit(class: "btn btn-default", value: "Shorten Url")%>
  </div>
<% end %>
